<div>
    <h3>Sobre mí: JJSerAr</h3>
    <p><img id="av1" src="images/avatar.jpg"></p>
    <p>Soy un estudiante de Miriada X realizando el curso "Desarrollo de servicios en la nube con HTML5, Javascript y node.js</p>
</div>
