<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0">
    <meta charset="utf-8">
    <title> Preguntas </title>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet"
        media="only screen and (min-width: 530px) and (min-device-width: 481px)"
        href="/stylesheets/wide.css" />
    <link rel="stylesheet"
        media="only screen and (max-width: 480px)"
        href="/stylesheets/smartphone.css" />
</head>

<body>
<div id="page-wrap">
    <header class="main" id="h1">
        <div id="sesionhdr">
        <% if(!session.user) { %>
            <span class="right"><a href="/login">Login</a></span>
        <% } else { %>
            <span class="right"><span id="loginuser"><%= session.user.username %></span>&nbsp;
                <form method="post" id="frmlogout" name="frmlogout" action="/logout?_method=delete">
                    <a href="#" onclick="document.forms.frmlogout.submit()">Logout</a>
                </form></span>
        <% } %>
        </div>
        <h2>Quiz<span>: el juego de las preguntas</span></h2>
    </header>
    <div id="wideTable">
    <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes">Preguntas</a></span>
        <span><a href="/author">Créditos</a></span>
        <% if(session.user) { %>
        <span><a href="/stats">Estadísticas</a></span>
        <% } %>
    </nav>

    <section class="main" id="s1">
        <%- body %>
        <% if (errors.length) { %>
            <span id="ErrorMsgs">
                Corregir errores: <br>
                <% for (var e in errors) { %>
                    <span> <%= errors[e].message %> </span><br>
                <% } %>
            </span>
        <% } %>
    </section>
    </div>
    <footer class="main" id="f1">
        <p><a target="_blank" href="http://es.wikipedia.org/wiki/Quiz">
            ¿Qué es un Quiz?</a></p>
        <p><a target="_blank" href="https://github.com/jjserar/quiz">
            El proyecto en Github</a></p>
    </footer>
</div>
</body>
</html>