body {
    background: #333;
    font-size: 150%;
}

#page-wrap:after {
    content: "Smartphone Layout";
}
section {height: 1%; }
section > div {
    padding: 10px;
}
.rem { display:none; }
h2 span, section h3 {
    display: none;
}

footer {
    font-size: large;
}