* { 
    margin:0; 
    padding:0; 
}

body {
    font: 16px Georgia, serif;
}

p {
    margin: 1em 0;
}
table#quizes {
    width: 100%;
    border-collapse: collapse;
    font-size: 100%;
}
table#quizes td { padding: 10px 0;}
#page-wrap {
    margin: 2% auto;
    color: white;
    min-height: 250px;
    }
 .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
    }
    .main > div {
        padding: 40px;
        }
#av1 { max-height: 100px; vertical-align: middle;}
#ErrorMsgs { 
    color:#f00;
    font-size: smaller;
    background-color: #ffcccc;
    display: block;
}


header, nav, section, footer {
    background: #eee; text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
}
div#create {
    width: 50%;
    margin: auto;
}
div.field {
    margin: .4em 0;
    }
div.field label {
    padding: .5em;
    display: block;
}

button, input[type="text"], input[type="submit"] { padding: .5em; }