* { 
    margin:0; 
    padding:0; 
}

body {
    font: 16px Georgia, serif;
}

p {
    margin: 1em 0;
}
.right {
    display:block;
    text-align: right;
}
#sesionhdr {
    padding:0; margin:0;
    font-size: 80%;
}
#loginuser {
    color: #ff6600;
}
div#showError {
    font: 12px monospace;
    text-align: left;
}
div#showError pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

table#quizes, table#comentarios {
    width: 100%;
    border-collapse: collapse;
    font-size: 100%;
}
table#quizes td, table#comentarios td { padding: 10px 0;}
table#comentarios td { text-align: left; }
table#comentarios tr:nth-child(odd) {
   background-color: #E2E2E2;
}
.pubdate { color: #333; font-size: 80%; font-style: italic;  }
.atenuado { color: #ff6600; font-style: italic; font-family: monospace;font-size: 80%;}
p.comentario { padding-left: .5em; padding-right: .5em; }
#page-wrap {
    margin: 2% auto;
    color: white;
    min-height: 250px;
    }
 .main {
    border: 1px solid #999;
    padding: 1%;
    margin-bottom: 1px;
    color: black;
    }
    .main > div {
        padding: 40px;
        }
#av1 { max-height: 100px; vertical-align: middle;}
#ErrorMsgs { 
    color:#f00;
    font-size: smaller;
    background-color: #ffcccc;
    display: block;
}


header, nav, section, footer {
    background: #eee; text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
}
div.RESTform {
    width: 50%;
    margin: auto;
}
div.field {
    margin: .4em 0;
    }
div.field label {
    padding: .5em;
    display: block;
}

button, input[type="text"], input[type="submit"], input[type="password"] { padding: .5em; margin: .2em 0;}
.btSearch, .btEdit, .btDelete, .btNew, .btCheck {
    border: none;
    
}
.btSearch {
    background: url(/images/buscar.png) center center no-repeat;
    background-size: 24px 24px;
    width: 32px;
    height: 32px;
}
.btEdit {
    background: url(/images/editar.png) center center no-repeat;
    background-size: 16px 16px;
    width: 18px;
    height: 18px;
}
.btDelete {
    background: url(/images/eliminar.png) center center no-repeat;
    background-size: 16px 16px;
    width: 18px;
    height: 18px;
}
.btNew {
    background: url(/images/crear.png) center center no-repeat;
    background-size: 24px 24px;
    width: 32px;
    height: 32px;
}
.btCheck {
    background: url(/images/check.png) center center no-repeat;
    background-size: 24px 24px;
    width: 26px;
    height: 26px;
}
span.tema { font-size: .8em; color: #ff6600 }