* { 
    margin:0; 
    padding:0; 
}

body {
    font: 16px Georgia, serif;
}

p {
    margin: 1em 0;
}
table#quizes {
    width: 100%;
    border-collapse: collapse;
}
table#quizes td { padding: 10px 0;}
#page-wrap {
    margin: 2% auto;
    color: white;
    }
    #page-wrap > .main {
        border: 1px solid #999;
        padding: 1%;
        margin-bottom: 1px;
        color: black;
    }
#av1 { max-height: 100px; vertical-align: middle;}

section {
    height: 250px;
    overflow: hidden;
    
}
section > div {
    padding: 40px;
}

header, nav, section, footer {
    background: #eee; text-align: center;
}

nav span {
    margin: 0px 10px 0px 0px;
}