body {
    background: #999;
    
}
#page-wrap:after {
    content: "Wide Layout";
    }
div#wideTable { display: table; width: 100%;}
td.accion {
    width: 5% !important;
}
nav {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    }
    nav span {
        /*margin:0px 100px 0px 0px;*/
        display: block;
        margin: 1em 0;
        width: 100%;
        text-align: center;
    }
section.main {
    display: table-cell;
    width: 80%;
}
    
footer {
    clear:both;
    display: block;
}