<div class="RESTform">
    <h2>Iniciar sesión:</h2>
    <form method="post" action="/login">
        <div class="field">
            <label for="login">Identificador de usuario:</label>
            <input type="text" id="login" name="login">
        </div>
        <div class="field">
            <label for="pwd">Contraseña:</label>
            <input type="password" id="pwd" name="pwd">
        </div>
        <div>
            <input type="submit" value="Iniciar sesión">
        </div>
    </form>
</div>